<%- include('../partials/header.ejs') %>
<div>
  <form action=""></form>
  <div></div>
  <div>
    <button id="cookieBtn">Obtener Cookie</button>
    <button id="authBtn">Obtener Cookie</button>
    <button id="notAuthBtn">Obtener Cookie</button>
  </div>
</div>

<script>
    const cookieBtn = document.getElementById('cookieBtn')
    const authBtn = document.getElementById('authBtn')
    const notAuthBtn = document.getElementById('notAuthBtn')
</script>
<%- include('../partials/footer.ejs') %>
