<nav class="Navbar">
  <h1><a href="/"><u>Home</u></a> <a href="/realtimeproducts">RealTimeProducts</a></h1>
</nav>

  <div class="productsContainer">
    <h2>Products</h2>

    <div class="products" id="products">
        
    </div>
  </div>

<script>

    let productsDOM = document.getElementById('products')
    let data = fetch('/api/products')
    const crearProducto = p =>{
      let productoDiv = document.createElement('div')
      productoDiv.classList.add('product')
      
      let title = document.createElement('h3')
      title.textContent = p.title

      let img = document.createElement('img')
      img.src = p.thumbnails[0]

      let description = document.createElement('p')
      description.textContent = p.description

      let details = document.createElement('div')
      let price = document.createElement('span')
      price.textContent = '$'+p.price
      let category = document.createElement('span')
      category.textContent = "category:"+p.category
      details.appendChild(price)
      details.appendChild(category)

      productoDiv.appendChild(title)
      productoDiv.appendChild(img)
      productoDiv.appendChild(description)
      productoDiv.appendChild(details)
      productsDOM.appendChild(productoDiv)
    }

    data.then(response=>{
      response.json().then(json=>{
        json.map(p=>{
          crearProducto(p)
        })
      })
    })
  
</script>