<div class="homePage">
  <h1>Home</h1>
  <p>Direcciones:</p>
  <a href="/">/home</a>

  <form id="form" action="/api/products" method="POST" enctype="multipart/form-data">
    <input type="text" name="title" placeholder="title" id="title">
    <textarea name="description" cols="30" rows="10" id="description"></textarea>
    <input type="text" name="price" placeholder="price" id="price">
    <input type="text" name="code" placeholder="code" id="code">
    <input type="text" name="stock" placeholder="stock" id="stock">
    <input type="checkbox" name="status" id="status"> <label for="status">status</label>
    <select name="category" id="category">
      <option value="men">men</option>
      <option value="women">women</option>
    </select>
    <input type="file" multiple="multiple" name="thumbnails" id="thumbnails">
    <button>Enviar</button>

  </form>

  <div class="productsContainer">
    <h2>Products</h2>

    <div class="products" id="products">

    </div>
  </div>

</div>
<script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script>
  const socket = io();
  const productsDOM = document.getElementById('products')
  socket.on('init', data=>console.log(data))

  socket.on('refreshData',products=>{ 
    productsDOM.innerHTML = ''
    
    products.map(p=>{ 
    productsDOM.innerHTML+=`
            <div class="product">
            <h3>${p.title}</h3>
            <img src="${p.thumbnails[0]}" alt="">
            
            <p>${p.description}</p>
            <p>
              <span>$${p.price}</span>
              <span>category: ${p.category}</span>
            </p>
          </div>
            ` }) 
  })



  const form = document.getElementById('form')
  form.addEventListener('submit',e=>{
      e.preventDefault();
      let data = {
        "title":document.getElementById('title').value,
        "description":document.getElementById('description').value,
        "description":document.getElementById('description').value,
        "price":document.getElementById('price').value,
        "code":document.getElementById('code').value,
        "stock":document.getElementById('stock').value,
        "status":document.getElementById('status').value,
        "category":document.getElementById('category').value
        }

      fetch('/api/products',{
        headers: {
        'Accept': 'application/json',
        'Content-Type': 'application/json'
        },
        method:'POST',
        body:JSON.stringify(data)
      })

      socket.emit('newProduct')
  });

  
</script>