<nav class="Navbar">
  <h1><a href="/">Home</a> <a href="/realtimeproducts"><u>RealTimeProducts</u></a></h1>
</nav>

  <form id="form" action="/api/products" method="POST" enctype="multipart/form-data">
    <input type="text" name="title" placeholder="Titulo" id="title">
    <textarea name="description" placeholder="Descripcion" cols="30" rows="10" id="description"></textarea>
    <input type="text" name="price" placeholder="Precio" id="price">
    <input type="text" name="code" placeholder="Codigo" id="code">
    <input type="text" name="stock" placeholder="Stock" id="stock">
    <div class="checkboxStatus">
      <input type="checkbox" name="status" id="status"> 
      <div class="checkboxStyle"></div>
      <label for="status">Estado</label>
    </div>
    <div class="categoryContainer">
      <h4>Categoria: </h4>
    <select name="category" id="category">
      <option value="men">Hombre</option>
      <option value="women">Mujer</option>
    </select>
    </div>
    <div class="imageContainer">
      
    <img src="/public/imgs/imagePreview.png" alt="" id="previewImage">
     <input type="file" multiple="multiple" name="thumbnails" id="thumbnails">
    </div>
    <button>Enviar</button>

  </form>

  <div class="productsContainer">
    <h2>Products</h2>

    <div class="products" id="products">

    </div>
  </div>


<script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script>
  let imgInput = document.getElementById("thumbnails") 
  let imgPreview = document.getElementById("previewImage") 
  imgInput.onchange = evt => {
  const [file] = imgInput.files
  if (file) {
    imgPreview.src = URL.createObjectURL(file)
  }
}


  const socket = io();
  const productsDOM = document.getElementById('products')
  socket.on('init', data=>console.log(data))

  const crearProducto = p =>{
    let productoDiv = document.createElement('div')
    productoDiv.classList.add('product')

    let title = document.createElement('h3')
    title.textContent = p.title

    let img = document.createElement('img')
    img.src = p.thumbnails[0]

    let description = document.createElement('p')
    description.textContent = p.description

    let details = document.createElement('div')
    let price = document.createElement('span')
    price.textContent = '$'+p.price
    let category = document.createElement('span')
    category.textContent = "category:"+p.category
    details.appendChild(price)
    details.appendChild(category)

    productoDiv.appendChild(title)
    productoDiv.appendChild(img)
    productoDiv.appendChild(description)
    productoDiv.appendChild(details)
    productsDOM.appendChild(productoDiv)
  }

  socket.on('newProduct', data=>{
    crearProducto(data)
  })

  socket.on('cargarProductos', data=>{
    data.map(p=>crearProducto(p))
  })

 

  
</script>