* {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.swal2-popup {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.products {
  padding: 0 10vw;
  gap: 20px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}
.products .product {
  box-shadow: 0 0 5px #000;
  display: flex;
  flex-direction: column;
  padding: 10px 20px;
  gap: 5px;
}
.products .product img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.dashboardBody {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;
  flex-direction: column;
}
.dashboardBody .infoUser {
  background: linear-gradient(135deg, rgba(0, 0, 0, 0.7333333333), rgba(255, 72, 0, 0.7254901961));
  box-shadow: 0 0 5px #000;
  padding: 10px 40px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.dashboardBody .infoUser h2 {
  margin: 10px 0;
  font-size: 40px;
  color: white;
  text-shadow: 0 0 5px #000;
}
.dashboardBody .infoUser ul {
  list-style: none;
}
.dashboardBody .infoUser ul li {
  font-size: 25px;
  color: white;
  text-shadow: 0 0 5px #000;
}
.dashboardBody .infoUser a {
  text-decoration: none;
  color: white;
  background: rgba(187, 69, 0, 0.3294117647);
  align-self: center;
  padding: 10px;
  border-radius: 5px;
  box-shadow: inset 0 0 5px #000;
}
.dashboardBody .infoUser #becomePremium {
  background: rgb(167, 128, 0);
}

.mainCart {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: calc(100vh - 100px);
  flex-direction: column;
}
.mainCart .productTable {
  box-shadow: 0 0 5px #000;
  border-radius: 20px;
  padding: 20px;
  min-width: 40vw;
}
.mainCart .productTable tbody .productRow {
  text-align: center;
}
.mainCart .productTable tbody .productRow img {
  width: 64px;
}
.mainCart .BuyButton {
  margin: 30px;
  background: rgb(30, 184, 30);
  color: white;
  font-size: 30px;
  border-radius: 20px;
  box-shadow: 0 0 5px rgb(53, 185, 53);
  padding: 10px;
  border: none;
  outline: none;
  text-decoration: none;
}
.mainCart .BuyButton:hover {
  scale: 1.1;
  transition: 0.2s;
  cursor: pointer;
}

.mainTicket {
  display: flex;
  align-items: center;
  gap: 200px;
  flex-direction: column;
  min-height: calc(100vh - 100px);
}
.mainTicket .shadowTicket {
  filter: drop-shadow(0 0 5px #000);
}
.mainTicket .ticket {
  box-shadow: 0 0 5px #000;
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
  padding: 70px 10px;
  background: rgb(255, 255, 255);
  -webkit-clip-path: polygon(0% 100%, 5% 98%, 10% 100%, 15% 98%, 20% 100%, 25% 98%, 30% 100%, 35% 98%, 40% 100%, 45% 98%, 50% 100%, 55% 98%, 60% 100%, 65% 98%, 70% 100%, 75% 98%, 80% 100%, 85% 98%, 90% 100%, 95% 98%, 100% 100%, 100% 0%, 95% 2%, 90% 0%, 85% 2%, 80% 0%, 75% 2%, 70% 0%, 65% 2%, 60% 0%, 55% 2%, 50% 0%, 45% 2%, 40% 0%, 35% 2%, 30% 0%, 25% 2%, 20% 0%, 15% 2%, 10% 0%, 5% 2%, 0% 0%);
          clip-path: polygon(0% 100%, 5% 98%, 10% 100%, 15% 98%, 20% 100%, 25% 98%, 30% 100%, 35% 98%, 40% 100%, 45% 98%, 50% 100%, 55% 98%, 60% 100%, 65% 98%, 70% 100%, 75% 98%, 80% 100%, 85% 98%, 90% 100%, 95% 98%, 100% 100%, 100% 0%, 95% 2%, 90% 0%, 85% 2%, 80% 0%, 75% 2%, 70% 0%, 65% 2%, 60% 0%, 55% 2%, 50% 0%, 45% 2%, 40% 0%, 35% 2%, 30% 0%, 25% 2%, 20% 0%, 15% 2%, 10% 0%, 5% 2%, 0% 0%);
}
.mainTicket .ticket img {
  padding-top: 20px;
}

.navBar {
  height: 64px;
  box-shadow: 0 0 5px #000;
  position: relative;
  margin-bottom: 20px;
}
.navBar h1 {
  height: 64px;
  text-align: center;
  line-height: 64px;
}
.navBar .options {
  position: absolute;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  right: 10px;
  list-style: none;
}
.navBar .options li {
  padding: 10px;
}
.navBar a {
  color: black;
  text-decoration: none;
}

.centerChat {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.centerChat .chatbox {
  position: relative;
  padding: 20px;
  padding-bottom: 42px;
  box-shadow: 0 0 5px #000;
  border-radius: 20px;
}
.centerChat .chatbox .messageDiv {
  position: absolute;
  bottom: 0;
  height: 32px;
  left: 0;
  right: 0;
  border-radius: 0 0 20px 20px;
  display: grid;
  grid-template-columns: 3fr 1fr;
  overflow: hidden;
}
.centerChat .chatbox .messageDiv input {
  padding: 5px;
  outline: none;
  border: none;
  box-shadow: inset 0 0 5px #000;
}
.centerChat .chatbox .messageDiv button {
  font-size: 20px;
  border: none;
  outline: none;
  background: white;
}
.centerChat .chatbox .messageDiv button:hover {
  background: #e7e7e7;
  cursor: pointer;
}

.carousel-item img {
  width: 100%;
  height: 90vh;
  -o-object-fit: cover;
     object-fit: cover;
}

.mainUpdateProduct {
  display: flex;
  align-items: center;
  justify-content: center;
}
.mainUpdateProduct .updateProduct {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  box-shadow: 0 0 5px #000;
  padding: 20px;
  gap: 10px;
}
.mainUpdateProduct .updateProduct img {
  height: 400px;
  -o-object-fit: cover;
     object-fit: cover;
}
.mainUpdateProduct .updateProduct input[type=text] {
  border: none;
  outline: none;
  border-bottom: 2px solid black;
  box-shadow: 0 5px 10px -5px black;
  font-size: 16px;
}
.mainUpdateProduct .updateProduct .inputDescription {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.mainUpdateProduct .updateProduct .inputDescription textarea {
  border: none;
  outline: none;
  resize: vertical;
  width: 90%;
  background: rgba(0, 0, 0, 0.0666666667);
}
.mainUpdateProduct .updateProduct .updateButton {
  background: rgb(7, 106, 255);
  color: white;
  box-shadow: 0 0 5px rgb(67, 129, 223);
  outline: none;
  border: none;
  padding: 5px;
  cursor: pointer;
  font-size: 20px;
}

.premiumBody {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;
  flex-direction: column;
}
.premiumBody h1 {
  font-size: 50px;
}
.premiumBody p,
.premiumBody span {
  font-size: 20px;
  margin: 20px;
}
.premiumBody .alertPremium {
  color: white;
  background: red;
  padding: 5px;
  box-shadow: 0 0 5px red;
}
.premiumBody a {
  text-decoration: none;
  color: white;
  margin: 20px;
  padding: 20px;
  box-shadow: 0 0 5px goldenrod;
  border-radius: 10px;
  background: goldenrod;
}
.premiumBody ul {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 20px;
}
.premiumBody ul li {
  font-size: 30px;
}
.premiumBody #premium {
  font-size: 50px;
  color: gold;
  margin: 0;
  text-shadow: 0 0 5px rgb(255, 255, 255), 0 0 10px gold, 0 0 15px rgb(255, 225, 58);
  animation: forwards infinite titilaPremium 1s;
}

.formPremiumBody {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  height: 90vh;
}
.formPremiumBody h1 {
  position: absolute;
  top: 0;
}
.formPremiumBody .premiumForm {
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 10px;
  box-shadow: 0 0 5px #000;
}
.formPremiumBody .premiumForm #documents {
  color: transparent;
  width: 100%;
  height: 200px;
  position: relative;
  border: 2px solid black;
  border-radius: 20px;
  box-shadow: 0 0 5px #000;
}
.formPremiumBody .premiumForm #documents::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgb(255, 255, 255);
  background: url("./assets/images/upload.png"), #f1fcfc;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.formPremiumBody .premiumForm .enviar {
  border: none;
  outline: none;
  height: 50px;
  position: relative;
  z-index: 2;
  font-size: 30px;
  color: white;
  border: 2px solid #000000;
  background: rgb(0, 153, 153);
  box-shadow: -5px 5px 0 #000000;
  translate: 5px -5px;
  cursor: pointer;
}
.formPremiumBody .premiumForm .enviar:active {
  background: red;
  box-shadow: 0 0 0 #000000;
  transition: 0.2s;
  translate: 0 0;
}

@keyframes titilaPremium {
  0%, 50%, 100% {
    text-shadow: 0 0 5px rgb(255, 255, 255), 0 0 10px gold, 0 0 15px rgb(255, 225, 58);
  }
  25%, 75% {
    text-shadow: 0 0 5px rgb(255, 255, 255), 0 0 10px rgb(251, 255, 0);
  }
}
.viewUserBody {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.viewUserBody .userPanel {
  background: #e0e0e0;
  padding: 20px;
  border: 2px solid black;
  border-radius: 20px;
  box-shadow: 0 0 5px #000;
  display: flex;
  flex-direction: column;
}
.viewUserBody .userPanel .user {
  padding: 20px;
  font-size: 20px;
  text-transform: uppercase;
  display: grid;
  grid-template-columns: 8fr 1fr 1fr;
}
.viewUserBody .userPanel .user button {
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  transition: 0.2s;
}
.viewUserBody .userPanel .user button:hover {
  transform: scale(1.2);
}
.viewUserBody .userPanel .user input.userrole {
  outline: none;
  border: none;
  background: transparent;
  font-size: 20px;
  color: rgb(206, 0, 189);
  width: 120px;
}
.viewUserBody .userPanel .user:nth-child(odd) {
  background: rgb(41, 41, 41);
  color: white;
}
.viewUserBody .userPanel .user:nth-child(odd) button {
  color: white;
}
.viewUserBody .handlePage {
  margin: 20px;
  font-size: 30px;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  text-align: center;
  box-shadow: 0 0 5px;
  border-radius: 20px;
  padding: 20px;
}
.viewUserBody .handlePage .currentPage {
  grid-column: 1/3;
}
.viewUserBody .handlePage a {
  color: black;
  text-decoration: none;
}/*# sourceMappingURL=styles.css.map */